@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Outfit&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgb(114,137,218);
    background: linear-gradient(180deg, rgba(114,137,218,1) 0%, rgba(66,69,73,1) 47%, rgba(54,57,62,1) 100%);
}

/* -------------------------NAVBAR-------------------------*/
li, a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: rgb(114,137,218);
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
    display: flex;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
    letter-spacing: 3px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #424549;
}

/* -------------------------TEXT-BOX-------------------------*/

.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #edf0f1;
}

.text-box h1{
    font-size: 75px;
    line-height: 160px;
}
.text-box p{
    font-size: 18px;
}

.bot{
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 8%;
    top: 15%;

}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13%;
    margin-bottom: 0;
    background: rgb(114,137,218);
}