@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Outfit&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgb(114, 137, 218);
}

/* -------------------------NAVBAR-------------------------*/
li,
a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
    display: flex;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
    letter-spacing: 3px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #424549;
}

/* -------------------------TEXT-BOX-------------------------*/

.text-box {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #edf0f1;
}

.text-box h1 {
    font-size: 75px;
    line-height: 160px;
}

.text-box p {
    font-size: 18px;
}

.bot {
    width: 750px;
    position: absolute;
    bottom: 0;
    right: 8%;
    top: 15%;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13%;
    margin-bottom: 0;
}

.buttonClass {
    display: flex;
    position: absolute;
    margin-top: 40px;
    left: 13%;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #edf0f1;
    outline: 2px solid #edf0f1;
    padding: 20px 40px;
    transition: color 1s;
    border-radius: 7px;
}

.button:hover {
    color: #424549;
}

/* -------------------------SOBRE-------------------------*/

.bot2 {
    width: 900px;
    bottom: 0;
    position: static;
}

#sobre {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 300px 250px 150px 250px;
    border-radius: 15px;
    background: rgb(158,172,219);
    background: linear-gradient(90deg, rgba(158,172,219,1) 0%, rgba(114,137,218,1) 50%, rgba(158,172,219,1) 100%); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#sobre:hover{
    transition: 1s;
    background: rgb(158,172,219);
}

.about{
    margin-left: 300px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #edf0f1;
}

.about h1{
    font-size: 55px;
    line-height: 160px;
}

.about p{
    font-size: 14px;
}

/* -------------------------CONTATO-------------------------*/

#contato{
    display: flex;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #edf0f1;
    margin-bottom: 150px;
}

.card__giratorio {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.card__giratorio-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__giratorio:hover .card__giratorio-conteudo {
    transform: rotateY(180deg);
}

.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card__giratorio-conteudo--frente {
    padding: 35px;
    background: rgb(158,172,219);
    background: linear-gradient(180deg, rgba(158,172,219,1) 0%, rgba(114,137,218,1) 50%, rgba(158,172,219,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

.card__giratorio-conteudo--frente h2{
    font-size: 25px;
}

.card__giratorio-conteudo--frente p{
    font-size: 15px;
}

.card__giratorio-conteudo--traseira h1{
    font-size: 25px;
}

.card__giratorio-conteudo--traseira p{
    margin-top: 20px;
    font-size: 15px;
}

.card__giratorio-conteudo--traseira img{
    width: 50px;
}

.card__giratorio-conteudo--traseira {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: rgb(158,172,219);
    background: linear-gradient(180deg, rgba(158,172,219,1) 0%, rgba(114,137,218,1) 50%, rgba(158,172,219,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    transform: rotateY(180deg);
}

.card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p {
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card__giratorio-conteudo--traseira h1 {
    font-size: 1.7rem;
}

